* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: "Roboto", sans-serif;
}
html, body {
	scroll-behavior: smooth;
	overflow-x: hidden; 
}

/*Landing Page*/
#jumbotron-home {
	background:
	
	linear-gradient(
		rgba(17,126,112,0.75),
		rgba(0,0,0,0.7)
		),
	url(../images/villa-chameleon.jpg)
	;

	height: 100vh;
	background-size: cover;
	background-position: center;
	color: #ffffff;
	border-radius: 0: 
}


.jumbotron h1 {
	font-size: 30px;
	line-height: 1.7;
}

.intro {
	padding-top: 160px;
}

/*logo size*/
.intro img{
	width: 200px;
}


.navbar-nav a {
	color: #ffffff;
	margin: 0px 5px 0 17px;
	margin-top: 30px;

}

.navbar {
	background-color: rgba(0,0,0,0.8);
}

.btn a {
	color: #f2f2f2
}

.navbar-toggler {
	color: #ffffff;
	border: none;
	outline: none;
}

.navbar-toggler .fa {
	color: #ffffff;
	font-size: 26px;

}

.nav-link:hover {
	font-weight: 600;
	border-bottom: none;
	
}


#header .btn {
	border: 1px solid #ffffff;
	margin-top: 20px;
	padding-top: 6px 26px;
	font-size: 16px;

}

.logo img {
	width: 50px;
	margin-left: 50px;
}


/*Media Query*/
/*Tablet View*/
@media only screen and (min-width: 600px) and (max-width: 960px) {

	.jumbotron h1 {
		font-size: 30px;
		line-height: 1.7
	}

	.navbar {
		background-color: rgba(0,0,0,0.8);
	}

	.navbar-nav a {
		margin: 0px 5px 0 17px;
		margin-top: 30px;
	}

	.nav-link:hover {
		font-weight: 600;
		border-bottom: none;
		
	}

	.intro {
		padding-top: 100px;
	}

	.intro img {
		width: 200px;
		padding-top: 50px;
	}
}

/*Desktop View*/
@media only screen and (min-width: 961px) {

	.jumbotron h1 {
		margin: 30px 0;
		font-size: 30px;
		line-height: 1.5;
	}

	.navbar {
		background-color: rgba(0,0,0,0);
	}


	.navbar-nav a {
		color: #ffffff;
		margin: 0 20px;
		margin-top: 30px;
		font-size: 23px

	}

	.navbar li {
		padding-left: 20px;
	}


	.nav-link:hover {
		font-weight: 600;
		border-bottom: 1px solid #ffffff;
		margin-bottom: -1px;
	}

	.intro {
		padding-top: 8%;
	}
}
/*End of Landing Page*/

/*About Page*/
.navbar-brand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0px;
	color: #ffffff;
	font-size: 50px;

}

.navbar-brand img {
	width: 150px;
	height: 130px;
	bottom: 50px;
}

#jumbotron-about {
	background: 

	linear-gradient(
		rgba(17,126,112,0.75),
		rgba(0,0,0,0.75)
		),
	url(../images/mission.jpeg)
	;

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius: 0;
	margin-bottom:  0; 
}

.landing-about {
		padding-top: 200px;
	}

#landing-about {
	font-size: 50px;
	color: #ffffff;
}

#mission {

	height: 50%;
	background-color: #333;
	color: #fff;
	background: 
	linear-gradient(
		rgba(30,32,34,0.3),
		rgba(30,32,34,0.3)
		),
	
	url(../images/vegetable-salad.jpg)
	;

}

#mission h1 {
	text-align: right;
}

#mission p {
	text-align: right;
	font-size: 22px;
}

#vision {
	height: 50%;
	background-color: #333;
	color: #fff;

	background: 
	linear-gradient(
		rgba(30,32,34,0.3),
		rgba(30,32,34,0.3)
		),
	url(../images/relaxation.jpg)
	;
}

#landing-about {
	font-size: 70px;
	color: #ffffff;
}

}

#vision h1 {
	text-align: left;

}

#vision p {
	text-align: left;
	font-size: 22px;
}





@media only screen and (min-width: 601px) and (max-width: 960px) {

	#jumbotron-about {
		

		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		height: 100vh;
		border-radius: 0;
		margin-bottom:  0; 
	}

	#mission, #vision {
		overflow: hidden;
	}

	.landing-about{
		padding-top: 220px;
	}

	#landing-about {
	font-size: 70px;
	color: #ffffff;
}

}
@media only screen and (min-width: 961px) {


	#jumbotron-about {

		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		height: 100vh;
		border-radius: 0;
		margin-bottom:  0; 
	}

	.landing-about{
		padding-top: 220px;
	}

	
}

/*End of About Page*/

/*Start of Service Page*/

#jumbotron-service {
	background: 

	linear-gradient(
		rgba(17,126,112,0.75),
		rgba(0,0,0,0.75)
		),
	url(../images/balance-boulder.jpg)
	;

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius: 0;
	border-bottom: 0;
	}

.landing-service{
		margin-top: 200px;
}

.navbar-dark .navbar-brand {
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 2px;

}

.button {
	border: 2px solid white;
	color: black;
	text-transform: uppercase;
	transition: all 0.5 ease-in-out;
	border-radius: 50px;
	background: white;
	font-weight: bold;
}

.button .fa {
	margin-left: 
}



.button:hover, .button:focus {
	background: transparent;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	outline: none;

}

.modal {
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;

}

.modal-content {
	width: 50%;
	height: 55%;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	padding: 2em;
	border-radius: 1em;
	visibility: none;
	transition: all .5s;
}

.modal:target {
	opacity: 1;
	visibility: visible;
}

#modal1:target .modal-content1{
	opacity: 1;
	visibility: visible;
}

#modal2:target .modal-content2{
	opacity: 1;
	visibility: visible;
}

a:link,
a:visited {
	text-decoration: none;	
}

.modal-close {
	color: #ffffff;
	font-size: 2em;
	position: absolute;
	left: 10em;
	cursor: pointer;

}


.modal-paragraph {
	line-height: 1.5em;

}

.modal-open {
	display:inline-block;
	color: dodgerblue;
	margin: 2em;
}

#landing-service {
	font-size: 50px;
	color: #ffffff;
}


/*media query*/
/*Tablet Display*/
@media only screen and (min-width: 461px) and (max-width: 960px) {
#jumbotron-service {
	background: 

	linear-gradient(
		rgba(17,126,112,0.75),
		rgba(0,0,0,0.75)
		),
	url(../images/balance-boulder.jpg)
	;

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius: 0;
	border-bottom: 0; 
	}

	.landing-service{
		margin-top: 250px;
	}

	#landing-service {
	font-size: 70px;
	color: #ffffff;
	}

	.modal {
		background-color: rgba(0,0,0,0.8);
		width: 100%;
		height: 100vh;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0;
		top: 0;
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		transition: all .5s;

	}

	.modal-content1,
	.modal-content2,
	.modal-content3,
	.modal-content4 {
		width: 50%;
		height: 55%;
		background-color: rgba(0,0,0,0.8);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); 
		padding: 2em;
		border-radius: 1em;
		visibility: none;
		transition: all .5s;
	}
	
	.modal:target {
		opacity: 1;
		visibility: visible;
	}

	#modal1:target .modal-content1,
	#modal2:target .modal-content2,
	#modal3:target .modal-content3,
	#modal4:target .modal-content4{
		opacity: 1;
		visibility: visible;
	}
	

	a:link,
	a:visited {
		text-decoration: none;	
	}

	.modal-close {
		color: #ffffff;
		font-size: 2em;
		position: absolute;
		top: .001em;
		right: .3em;
		cursor: pointer;
	}

	#modal-open {
		display:inline-block;
		color: dodgerblue;
		margin: 2em;
	}

}


/*Desktop Display*/
@media only screen and (min-width: 961px) {
#jumbotron-service {
	background: 

	linear-gradient(
		rgba(17,126,112,0.8),
		rgba(0,0,0,0.8)
		),
	url(../images/balance-boulder.jpg)
	;

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius: 0;
	border-bottom: 0;
	}

	.landing-service{
		margin-top: 250px;
	}

	#landing-service {
	font-size: 70px;
	color: #ffffff;
	}


	.modal {
		background-color: rgba(0,0,0,0.8);
		width: 100%;
		height: 100vh;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0;
		top: 0;
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		transition: all .5s;

	}

	.modal-content1,
	.modal-content2,
	.modal-content3,
	.modal-content4 {
		width: 50%;
		height: 55%;
		background-color: rgba(0,0,0,0.8);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); 
		padding: 2em;
		border-radius: 1em;
		visibility: none;
		transition: all .5s;
	}
	
	.modal:target {
		opacity: 1;
		visibility: visible;
	}

	#modal1:target .modal-content1,
	#modal2:target .modal-content2,
	#modal3:target .modal-content3,
	#modal4:target .modal-content4{
		opacity: 1;
		visibility: visible;
	}
	

	a:link,
	a:visited {
		text-decoration: none;	
	}

	.modal-close {
		color: #ffffff;
		font-size: 2em;
		position: absolute;
		top: .1em;
		right: .3em;
		cursor: pointer;
	}

	#modal-open {
		display:inline-block;
		color: dodgerblue;
		margin: 2em;
	}
}
/*End of Service Page*/

/*Start of Contact Page*/
#jumbotron-contact {
	background: 

	linear-gradient(
		rgba(17,126,112,0.75),
		rgba(0,0,0,0.75)
		),
	url(../images/chakras.jpg)
	;

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius: 0;
	border-bottom: 0;
	}

.landing-contact{
		margin-top: 200px;
}
#gmap {

	position: relative;
	padding-bottom: 75%
	height: 0;
	overflow: hidden;
}

#gmaps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

#landing-contact {
	font-size: 40px;
	color: #ffffff;
}


@media only screen and (min-width: 601px) and (max-width: 960px) {

	#landing-contact {
	font-size: 70px;
	color: #ffffff;
	}
	.landing-contact{
		margin-top: 200px;
}
	

}
@media only screen and (min-width: 961px) {


	#landing-contact {
	font-size: 70px;
	color: #ffffff;
	}
	.landing-contact{
		margin-top: 200px;
}
	
}
